$offset: 6rem;
$half-offset: 3rem;

$site-background-color: #000000;
$site-accent-color: #FFFFFF;

$primary-font-color: #FFFFFF;
$secondary-font-color: #f5f5f5;
$information-font-color: #dcdcdc;

